config_name: pytorch_batch_size_1
model_name: Qwen/Qwen2.5-0.5B
backend: pytorch
gpus:
- 0
max_input_tokens: 64
max_output_tokens: 32
num_input_prompts: 5
fp_precision: float16
decoder:
  preset: deterministic
dataset:
  name: ai_energy_score
  sample_size: 5
pytorch:
  batch_size: 1
  batching_strategy: static
  attn_implementation: sdpa
